<h2>My Heroes</h2>
<ul class="heroes">
  <!-- Event binding by using onSelect(hero) method -->
  <!-- Class binding [class.selected] - showing class style only when condition is true -->
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!-- Binding selectedHero property to hero property in HeroDetailComponent -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
